{% extends 'base.html' %}

{% load static %}

{% block title %}About Us{% endblock title %}

{% block body %}

<div class="jumbotron p-5 text-white rounded bg-info" style="height:560px;">
    <div class="col-md-6 px-0" style="margin:95px">
        <h1 class="display-4" style="font-size:90px">{% trans "About Us!"" %}</h1>
        <p class="lead my-3">
            CarZest was established in 2012 and digitally expanded in 2018. After more than 10 years in business, CarZest is ready to meet your expectations with our fully renewed fleet of vehicles.
        </p>
        <a class="btn btn-dark btn-lg" href="#why-choose-us" role="button">Learn more</a>
    </div>
</div>

<div class="p-3 mb-2 text-info" id="why-choose-us">
    <div class="row m-5">
        <div class="container-fluid px-0">
            <h1 class="my-3 text-center">Why Choose Us?</h1>
        </div>

        <!-- Safe Section -->
        <div class="col-xl-4 text-center">
            <img src="{% static 'trust.jpg' %}" alt="Safe" width="300" height="300" class="rounded shadow" style="margin: 0 auto;">
            <h2 class="hd my-2">Safe</h2>
            <p style="font-size:20px;">Most trustworthy website for renting a vehicle in the world. All the vehicles are well-maintained and in good condition. Servicing is done every two weeks.</p>
        </div>

        <!-- Affordable Prices Section -->
        <div class="col-xl-4 text-center">
            <img src="{% static 'affordable.jpg' %}" alt="Affordable Prices" width="300" height="300" class="rounded shadow" style="margin: 0 auto;">
            <h2 class="hd my-2">Affordable Prices</h2>
            <p style="font-size:20px;">All rentals are offered at affordable prices. If there is a problem with the vehicle, we have a return policy. Payments can be made online safely.</p>
        </div>

        <!-- Hygienic Section -->
        <div class="col-xl-4 text-center">
            <img src="{% static 'car-wash.png' %}" alt="Hygienic" width="300" height="300" class="rounded shadow" style="margin: 0 auto;">
            <h2 class="hd my-2">Hygienic</h2>
            <p style="font-size:20px;">Your comfort is our priority! All the vehicles are well-maintained and hygienic.</p>
        </div>
    </div>
</div>

{% endblock body %}
