{% extends 'base.html' %}
{% load i18n %}
{% block title %}Register{% endblock %}

{% block body %}
{% include 'messages.html' %}

<h2>{% trans "Register" %}</h2>
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.non_field_errors }}
  
  <div class="form-group">
    <label for="id_username">{% trans "Username" %}</label>
    {{ form.username }}
  </div>
  
  <div class="form-group">
    <label for="id_email">{% trans "Email" %}</label>
    {{ form.email }}
  </div>

  <div class="form-group">
    <label for="id_password">{% trans "Password" %}</label>
    {{ form.password }}
  </div>

  <div class="form-group">
    <label for="id_password2">{% trans "Confirm Password" %}</label>
    {{ form.password2 }}
  </div>

  <div class="form-group">
    <label for="id_country">{% trans "Country" %}</label>
    {{ form.country }}
  </div>

  <div class="form-group">
    <label for="id_city">{% trans "City" %}</label>
    {{ form.city }}
  </div>

  <div class="form-group">
    <label for="id_photo">{% trans "Profile Photo (Optional)" %}</label>
    {{ form.photo }}
  </div>

  <button type="submit" class="btn btn-primary">{% trans "Sign Up" %}</button>
</form>
{% endblock %}
